<div class="search-item">
    <div class="span10">
        <div class="title">
            <i class="icon-book"></i>
            <a {{bindAttr href="repoUrl"}}>{{name}}</a>
            by
            <a {{bindAttr href="ownerUrl"}}>{{owner}}</a>
        </div>
        <div class="description">{{description}}</div>
        <div class="info">
            <ul>
                <li>
                    <span class="info" {{bindAttr title="languageTitle"}}>{{language}}</span>
                </li>
                <li class="margin" {{bindAttr title="followersTitle"}}>
                    <i class="icon-star"></i>
                    <span>{{followers}}</span>
                </li>
                <li class="margin" {{bindAttr title="forksTitle"}}>
                    <i class="icon-git-fork"></i>
                    <span>{{forks}}</span>
                </li>
                <li class="margin" title="Last commit was 9 hours ago">
                    <i class="icon-circle-arrow-down"></i>
                    <span>{{pushedAt}}</span>
                </li>
                <li class="margin" title="This project is 2 years old">
                    <i class="icon-time"></i>
                    <span>{{createdAt}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>